**/node_modules/
**/.git
**/README.md
**/LICENSE
**/.vscode
**/.idea
**/npm-debug.log
**/coverage*
**/.env
**/.editorconfig
**/.aws
**/dist
**/build
**/.output
**/output
**/tmp
**/test-results
**/tests
**/__tests__
**/docs
.dockerignore
docker-compose*
.gitignore
Dockerfile*
Jenkinsfile*
helm-charts
Makefile
Thumbs.db
.DS_Store